main{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

#mainHeader{
    width: 100%;
    background-color: grey;
    margin-bottom: 50px;
}

.sitename{
    margin-left: 50px;
}

.inputContainer{
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group{
    margin: 10px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: center;
    
}

.item{
    border: 1px solid black;
    height: 150x;
    padding: 15px;
    width: 180px;
    border-radius: 10%;
    margin: 10px;
}

.btn-class{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.add {
    height: 40px;
    width: 150px
}
 
.subject{
    float: left;
    margin-right: 10px;
}

#mainHeader{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.checkoutButton{
    width: 150px;
    margin: 5px;
}

.checkOut{
    float: left;
    width: 50%;

}

.orderList{
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
}



.search{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


